<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider sticky="true">
    <ion-label>Route Resolves</ion-label>
  </ion-item-divider>
  <section class="demo-section ion-padding">
    <h5>Blocking Resolver</h5>
    <p>
      <ion-button expand="block" [routerLink]="['/blocking-resolver']">Blocking Resolver</ion-button>
    </p>
  </section>
  <section class="demo-section ion-padding">
    <h5>Non Blocking Resolver</h5>
    <p>
      <ion-button expand="block" [routerLink]="['/non-blocking-resolver']">Non Blocking Resolver</ion-button>
    </p>
  </section>
</ion-content>